/* Testimonial Template - One */
.trad-turbo-testmonial-slider-template-one-slider {
    text-align: center;
    /* max-width: 600px; */
    margin: 0 auto;
}
.trad-turbo-testmonial-slider-template-one-image {
    display: flex;                     /* Enable flexbox */
    justify-content: center;           /* Center horizontally */
    height: 100%;                      /* Adjust height as needed */
}

.trad-turbo-testmonial-slider-template-one-image img {
    max-width: 100%;                   /* Ensure image does not overflow */
    height: auto;                      /* Maintain aspect ratio */
}
.trad-turbo-testmonial-slider-template-one-name {
    font-size: 24px;
    font-weight: bold;
}
.trad-turbo-testmonial-slider-template-one-location {
    color: #777;
}
.trad-turbo-testmonial-slider-template-one-text {
    font-size: 16px;
    margin-top: 10px;
}
.trad-turbo-testmonial-slider-template-one-content {
    display: none;
}
.trad-turbo-testmonial-slider-template-one-content.trad-turbo-testmonial-slider-template-one-card-active {
    display: block;
}
.trad-turbo-testmonial-slider-template-one-controls {
    margin-top: 10px;
}
.trad-turbo-testmonial-slider-template-one-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
.trad-turbo-testmonial-slider-template-one-dot.trad-turbo-testmonial-slider-template-one-active {
    background-color: #36c;
}


/* Testimonial Template - Two */
  
  .trad-testimonial-template-two-main {
    width: 800px;
  }
  
  .trad-testimonial-template-two-slide-row {
    display: flex;
    width: 3200px;
    transition: 0.5s;
  }
  
  .trad-testimonial-template-two-slide-col {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 400px;
  }
  
  .trad-testimonial-template-two-hero {
    position: absolute;
    right: 0;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .trad-testimonial-template-two-hero img {
    height: 100%;
    border-radius: 10px;
    width: 320px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }
  
  .trad-testimonial-template-two-content {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 520px;
    height: 270px;
    color: #4d4352;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    padding: 45px;
    z-index: 2;
    user-select: none;
  }
  
  .trad-testimonial-template-two-content 
  .trad-testimonial-template-two-content-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.3;
  }

  .trad-testimonial-template-two-content 
  .trad-testimonial-template-two-content-author {
    font-size: 18px;
    font-weight: 400;
    line-height: 0.3;
  }
  
  .trad-testimonial-template-two-content
  .trad-testimonial-template-two-content-heading {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 35px;
    color: #4d4352;
  }
  
  .trad-testimonial-template-two-indicator {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
  
  .trad-testimonial-template-two-indicator .trad-testimonial-template-two-btn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background: #000;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .trad-testimonial-template-two-btn.active {
    width: 30px;
    background: #7d1e1e;
  }
  
  .trad-testimonial-template-two-slider {
    width: 100%;
    overflow: hidden;
  }
  
  @media only screen and (max-width: 850px) {
    .trad-testimonial-template-two-main {
      width: 500px;
    }
  
    .trad-testimonial-template-two-slide-row {
      width: 2000px;
    }
  
    .trad-testimonial-template-two-slide-col {
      width: 500px;
      height: 250px;
    }
  
    .trad-testimonial-template-two-hero img {
      width: 200px;
    }
  
    .trad-testimonial-template-two-content {
      width: 320px;
      height: 200px;
      padding: 20px;
    }
  
    .trad-testimonial-template-two-content 
    .trad-testimonial-template-two-content-description {
      font-size: 0.9rem;
    }

    .trad-testimonial-template-two-content
    .trad-testimonial-template-two-content-author {
        font-size: 0.9rem;
      }
  
    .trad-testimonial-template-two-content
    .trad-testimonial-template-two-content-heading {
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .trad-testimonial-template-two-main {
      width: 300px;
    }
  
    .trad-testimonial-template-two-slide-row {
      width: 1200px;
    }
  
    .trad-testimonial-template-two-slide-col {
      width: 300px;
      height: 300px;
    }
  
    .trad-testimonial-template-two-hero {
      height: 100px;
      left: 77%;
      bottom: -40px;
      transform: translate(-50%, -50%);
      width: 70%;
      background-color: transparent;
      z-index: -4;
    }
  
    .trad-testimonial-template-two-hero img {
      width: 100px;
    }
  
    .trad-testimonial-template-two-content {
      width: 270px;
      z-index: -5;
    }
  }
  