/* The actual timeline (the vertical ruler) */
  .trad-timeline-story-line-temp-one {
    position: relative;
    margin: 0 auto;
    background-color: #e3ecff;
    overflow: hidden;
  }

  /* //content box wraper// */
  /* .trad-container-story-line-temp-one trad-right-story-line-temp-one */
  
  /* The actual timeline (the vertical ruler) */
  .trad-timeline-story-line-temp-one::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .trad-container-story-line-temp-one {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline dot*/
  .trad-container-story-line-temp-one::after {
    content: '';
    position: absolute;
    right: -16px;
    background-color: rgb(255, 255, 255);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    border: 5px solid #222;
  }

  
  /* Place the container to the left */
  .trad-left-story-line-temp-one {
    left: 0;
  }
  
  /* Place the container to the right */
  .trad-right-story-line-temp-one {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .trad-left-story-line-temp-one::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white; /* Arrow pointing to the right */
 }
  
  /* Add arrows to the right container (pointing left) */
  .trad-right-story-line-temp-one::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 29.5px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; /* Arrow pointing to the left */
}
  
  /* Fix the circle for containers on the right side */
  .trad-right-story-line-temp-one::after {
    left: -16px;
  }
  
  /* The actual content */
  .trad-content-story-line-temp-one {
    padding: 20px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  .trad-timeline-story-image {
    display: block;
  }
  
  .trad-timeline-story-image img {
    display: inline-block;
    max-width: 100%;
  }

  .trad-timeline-story-icon {
    display: flex;
    align-items: center;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .trad-timeline-story-line-temp-one::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .trad-container-story-line-temp-one {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .trad-container-story-line-temp-one::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .trad-left-story-line-temp-one::after, .trad-right-story-line-temp-one::after {
    left: 15px!important;
    }
    
    /* Make all right containers behave like the left ones */
    .trad-right-story-line-temp-one {
    left: 0%;
    }

    .trad-left-story-line-temp-one::before {
    display: none;
 }
 .trad-right-story-line-temp-one::before {
  display: none;
}


  }