/* STEP 1: Grid Layout */
.trad-woo-pagination-product-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  background: #eee;
  border-radius: 5px;
  padding: 10px;
}

.trad-woo-product-item-pagination {
  background: #fff;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
}

.trad-woo-product-item-pagination:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.trad-woo-product-item-pagination img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.trad-woo-pagination_link_card{
  transition: all 0.5s ease;
 }
 
.trad-woo-pagination_link_card img{
 transition: all 0.5s ease;
}

.trad-woo-pagination .trad-woo-pagination-link {
  width: 50px;
  padding: 6px 12px;
  margin: 4px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-align: center;
}

.trad-woo-pagination .trad-woo-pagination-link.active {
  background-color: #0073aa;
}

/* STEP 3: Optional Loader */
.trad-wooproduct-item-pagination-wrapper-loader {
  position: relative;
  max-width: 3em;
  margin: auto;
}

.trad-wooproduct-item-pagination-outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: trad-woo-pagination-spin 2s linear infinite;
}

.trad-wooproduct-item-pagination-middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: trad-woo-pagination-spin 1.75s linear reverse infinite;
}
.trad-wooproduct-item-pagination-inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: trad-woo-pagination-spin 1.5s linear infinite;
}
.trad-woo-pagination-cart-btn {
  display: none !important; /* Ensures it's hidden by default */
}

@keyframes trad-woo-pagination-spin {
  to { transform: rotate(360deg); }
}
.trad-woo-product-item-pagination{
  display: flex;
  flex-direction: column;
}
.trad-woo-pagination_link_card{
  text-align: left;
}
.trad-woo-pagination_link_card span .woocommerce-Price-amount{
  color: #000;
}
.trad-woo-pagination_link_card h3{
  font-size: 20px;
  color: #2b2b2b;
}

.trad-woo-pagination-cart-btn{
  background-color: #2e36a4;
  padding: 4px 10px;
  margin-top:10px;
  border-radius: 5px;
}

/* STEP 2: Pagination Buttons */
.elementor-widget-container .trad-woo-pagination-links-wrapper .trad-woo-pagination {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}
.elementor-3961 .elementor-element.elementor-element-756018a  .trad-woo-pagination{
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}